@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text1: #d1d5db ;
  --text1h: #9ca3af;
  --text2: #111827;
  --text3: #6b7280;
  --primary: #fc9d20;
  --primaryh: #fca637;
  --secondary: #111827;
  --secondaryh: #283146;
  --accent: #ffffff;
  --logo: #eab308;

}


body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --radius: 0.5rem;

  }

}

