
@tailwind base;
@tailwind components;
@tailwind utilities;


/* montserrat-latin-wght-normal */
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* urbanist-latin-wght-normal */
@font-face {
  font-family: 'Urbanist Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/urbanist:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
  --background: #ebe0c6;
  --foreground: #171717;
  --text1: #d8dce2 ;
  --text1h: #9ca3af;
  --text2: #111827;
  --text3: #6b7280;
  --primary: #fc9d20;
  --primaryh: #fca637;
  --primaryd: #c0720c;
  --secondary: #111827;
  --secondaryh: #283146;
  --accent: #ffffff;
  --logo: #eab308;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--secondary) inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: var(--primary) !important;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat Variable', 'Urbanist Variable', Arial, Helvetica, sans-serif;
}


