@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcf4e0;
  --foreground: #171717;
  --text1: #d1d5db ;
  --text1h: #9ca3af;
  --text2: #111827;
  --text3: #6b7280;
  --primary: #fc9d20;
  --primaryh: #fca637;
  --primaryd: #c0720c;
  --secondary: #111827;
  --secondaryh: #283146;
  --accent: #ffffff;
  --logo: #eab308;

}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


